<div class="video-header-container">

    <!-- https://firebasestorage.googleapis.com/v0/b/pruebas-gcv.appspot.com/o/videos%2Fheader?alt=media&token=746325bf-b3c6-412f-861c-9ea2a457acd3 -->
    
    <video  [muted]="true" 
            autoplay 
            loop  
            playsinline="playsinline"
            preload="auto"
            id="video">

            
            <source src="./../../../../assets/intro_vid.mp4" 
                    type="video/mp4">

            "Tu navegador no soporta videos, por favor cambie a uno mas reciente"
    </video>

    <div class="video-title">
        <h2>
            ¡Tu <span class="subtitle-title">confianza</span> es <BR>nuestro compromiso!
        </h2>
        <P>Somos una gran familia comprometida con la formación de <br> nuestros estudiantes, a través de competencias y valores.</P>
    </div>

</div>

