<app-principal1-template *ngIf="data.type == 1" [data]="data"></app-principal1-template>
<app-principal2-template *ngIf="data.type == 2" [data]="data"></app-principal2-template>
<app-principal3-template *ngIf="data.type == 3" [data]="data"></app-principal3-template>
<app-principal4-template *ngIf="data.type == 4" [data]="data"></app-principal4-template>
<app-principal5-template *ngIf="data.type == 5" [data]="data"></app-principal5-template>
<app-principal6-template *ngIf="data.type == 6" [data]="data"></app-principal6-template>
<app-principal7-template *ngIf="data.type == 7" [data]="data"></app-principal7-template>