.principal-container{
    width           : 100vw     ; 
    position        : relative  ;
    display         : flex      ;
    flex-direction  : column    ;
    align-items     : center    ;
}


app-multimedia{
    width: 100%;
}

app-banners{
    width: 100%;
}


.section-data-container{
    width           : 80%;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    gap             : 25px;
    padding-top     : 20px;
}

.section-data-2{
    background-color: #f8f4f4;
    padding         : 10px;
}


@media  (min-width : 768px) and (max-width : 1024px) {  


    .principal-container{
        right   : 15%;
        margin  : 0;
    }


    .section-data-container{
        display                 : grid              ;
        height                  : 100%              ;
        align-items             : start             ;
        grid-template-columns   : 2fr 3fr           ;
        grid-template-rows      : 1fr               ;
        margin                  : 0                 ;
        gap                     : 0                 ;
        width                   : 90%               ;
        padding-top             : 0px;
    }


    .section-data-1{
        padding-top         : 50px;
        grid-column-start   : 0 1;
        display             : grid;
        grid-template-areas : "info1"
                              "multi1";
        padding-left        : 30px;                             
        padding-right       : 10% ;
        padding-bottom      : 50px;
    }

    .section-data-2{
        padding-top: 50px;
        grid-column-start: 1 2;
        height              : 100%;
        display: grid;
        grid-template-areas: "multi2"
                             "info2";
        padding-left: 30px;    
        padding-right: 10%;
        padding-bottom: 50px;
    }


    .info-1{
        grid-area: info1;
        border-bottom: 2px solid black;

    }

    .info-2{
        padding-top: 20px;
        grid-area: info2;
    }

    .multi-1{
        padding-top: 20px;
        grid-area: multi1;
    }

    .multi-2{
        grid-area: multi2;
    }    
}

    
@media (min-width : 1025px){
    .principal-container{
        right   : 34%;
        margin  : 0;
    }


    .section-data-container{
        display                 : grid              ;
        height                  : 100%              ;
        align-items             : start             ;
        grid-template-columns   : 2fr 3fr           ;
        grid-template-rows      : 1fr               ;
        margin                  : 0                 ;
        gap                     : 0                 ;
        width                   : 90%               ;
        padding-top             : 0px               ;
    }


    .section-data-1{
        padding-top             : 50px;
        grid-column-start       : 0 1;
        display                 : grid;
        grid-template-areas     : "info1"
                                  "multi1";
        padding-left            : 30px;                             
        padding-right           : 10%;
        padding-bottom          : 50px;
    }

    .section-data-2{
        padding-top         : 50px;
        grid-column-start   : 1 2;
        height              : 100%;
        display             : grid;
        grid-template-areas : "multi2"
                              "info2";
        padding-left        : 30px;    
        padding-right       : 35%;
        padding-bottom      : 50px;
    }


    .info-1{
        grid-area       : info1;
        border-bottom   : 2px solid black;
        padding-bottom: 50px;
    }

    .info-2{
        padding-top : 20px;
        grid-area   : info2;
        
    }

    .multi-1{
        padding-top : 20px;
        grid-area   : multi1;
        max-width: 500px;
    }

    .multi-2{
        grid-area: multi2;
        max-width: 500px;
    }   
}

