<div class="principal-container">

    <app-banners [multimediaOptions]="bannerOptionsPrincipal"></app-banners> 
 
    <div class="section-data-container">
         <div class="section-data-1">

            <app-information    [informationOptions]="informationOptionsSecondary"
                                 [titleOptions]="titleOptionsSecondary"
                                 class="info-1"></app-information>
 
             <app-multimedia [multimediaOptions]="multimediaOptionsSecondary"
                                 class="multi-1"></app-multimedia>
 
             
         </div>
 
         <div class="section-data-2">
 
            <app-information    [informationOptions]="informationOptionsPrincipal"
                    [titleOptions]="titleOptionsPrincipal"
                    class="info-2"></app-information>
            
            
            <app-multimedia [multimediaOptions]="multimediaOptionsPrincipal"
                    class="multi-2"></app-multimedia>
             
         </div>
    </div>
    <app-banners [multimediaOptions]="bannerOptionsSecondary" style="max-height: 500px; background-color:#086434 ;"></app-banners>
 </div>
 