<div class="principal-options-container">
    <div class="second-container-options">
        
        <a   routerLink="/principal/menu-principal"             class="option-principal-container" (click)="cerrarNavbar()">Inicio</a>
        <a   routerLink="/informacion/horario"                  class="option-principal-container" (click)="cerrarNavbar()">Horarios</a>
        <a   routerLink="/informacion/sobre-nosotros"           class="option-principal-container" (click)="cerrarNavbar()">Quienes somos</a>
        <a   routerLink="/comunidad/admisiones"                 class="option-principal-container" (click)="cerrarNavbar()">Admisiones</a>
        <a   routerLink="/padres/escuela-padres"                class="option-principal-container" (click)="cerrarNavbar()">Escuela para padres</a>
        <a   routerLink="/comunidad/egresados"                  class="option-principal-container" (click)="cerrarNavbar()">Egresados</a>
        <a   routerLink="/informacion/preguntas-frecuentes"     class="option-principal-container" (click)="cerrarNavbar()">Preguntas Frecuentes</a>
        <a   routerLink="/padres/pqrsf"                         class="option-principal-container" (click)="cerrarNavbar()">PQRSF</a>
    </div>
</div>

